body {
  min-width: 320px;
}

#carousel {
  position: fixed;
  margin: auto;
  min-height: 191px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 320px) {
  #carousel {
    height: 216px;
    width: 287px;
  }
}

@media (max-width: 320px) {
  #carousel {
    height: 216px;
    width: 287px;
  }
}

@media (min-width: 768px) {
  #carousel {
    height: 300px;
    width: 451px;
  }
}

@media (min-width: 1200px) {
  #carousel {
    height: 533px;
    width: 800px;
  }
}



