body {
  min-width: 320px;
}

#carousel {
  margin: auto;
  min-height: 191px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 320px) {
  #carousel {
    height: 220px;
    width: 287px;
  }
}

@media (min-width: 768px) {
  #carousel {
    height: 300px;
    width: 451px;
  }
}

@media (min-width: 1200px) {
  #carousel {
    height: 533px;
    width: 800px;
  }
}

img {
  width: 100%;
}


